In [1]:
#Problems on Arithmetic, bitwise, logical, and other operators.

In [1]:
1. 	Without using **, calculate the cube of a number x.

In [3]:
def cube(n):
    return n*n*n

print(cube(4))

64

In [ ]:
2. 	Check if a number n is within 10 units of 100 using a single expression.

In [4]:
def result(n):
    return abs(100-n)<=10

print(result(108))

True

In [ ]:
3. 	Using bitwise operators, determine if an integer n is odd.

In [5]:
def result(n):
    return (n&1)==1

print(result(11))

True

In [ ]:
4. 	Reverse the bits of a 32-bit unsigned integer n

In [9]:
def reverse(n):
    return int('{:32b}'.format(n)[::-1],2)

In [8]:
#5. 	Swap two variables a and b using arithmetic operators.

In [10]:
a=12
b=24
a=a+b
b=a-b
a=a-b
print("a =",a)
print("b =",b)

a = 24
b = 12

In [ ]:
6. 	Determine if two float numbers a and b are approximately equal (within 0.001).

In [ ]:
7.	Using logical operators, check if a string s is non-empty and starts with an uppercase letter.

In [11]:
s = "Hello world" 
if bool(s) and s[0].isupper():
    result = True
else:
    result = False

result

True

In [ ]:
8.	Implement a bitwise XOR operation on two boolean values x and y.

In [12]:
def xor_operation(x,y):
    return x^y
print(xor_operation(True,False))

True

In [ ]:
9.	Without using the division operator /, divide a number n by 2.

In [13]:
def division(n):
    return int(n*0.5)
print(division(24))

12

In [ ]:
10.	Check if a number n is a power of two using bitwise operators.

In [14]:
def bitwise(n):
    return n!=0 and (n &(n-1))==0

print(bitwise(16))

True

In [ ]:
11. Determine if the expression not (a<b) and not (a>b) is equivalent to a == b for any a and b.

In [15]:
def check_equivalence(a,b):
    return not (a<b) and not (a>b)

print(check_equivalence(4,4))

True

In [ ]:
12.	Calculate the expression 3 ** 2 // 2 * 3 / 3 - 1 and explain the order of operations.

In [16]:
value=3**2 // 2 * 3/31
print(value)

0.3870967741935484

In [ ]:
13.	Rotate the bits of the number 0b10110011 two positions to the left.

In [ ]:
14.	Without running, determine the output of True * 2 + False // 3.

In [2]:
print(True*2+False//3)  #1*2 + 0//3

2

In [ ]:
15. Implement a basic version of the XOR operation using only AND, OR, and NOT operators.

In [17]:
def ans(a,b):
    return (a and not b) or (not a and b)

print(ans(1,0))

True

In [ ]:
16. Determine if an integer n is a power of two without using loops or recursion.

In [18]:
def is_pow_of_two(n):
     return n>0 and (n&(n-1))==0

print(is_pow_of_two(16))

True

In [ ]:
17. Swap two integers a = 3 and b = 5 without using extra space.

In [19]:
a=3;
b=5;
a=a^b
b=a^b
a=a^b
print("a =",a)
print("b =",b)

a = 5
b = 3

In [ ]:
18. Check if two numbers, a = 4 and b = 9, have opposite signs using bitwise operators.

In [20]:
a=4
b=-5
(a^b)<0

True

In [ ]:
19. Reverse the bits of an 8-bit binary number, 0b11010100.

In [ ]:
20. Calculate the remainder of 1234 divided by 100 without using the % operator.

In [21]:
a = 1234
b = 100
remainder = a - (b * (a // b))
remainder

34

In [ ]:
Practice problems on boolean expressions and logic. 

Problems on boolean operations, conditional statements, and logical expressions.

In [ ]:
1. Determine if the sum of two integers is even without using the % operator.

In [1]:
def sum(x,y):
    s=x+y
    return (s&1)!=1

print(sum(12,90))

True

In [ ]:
2. Check if a number is both positive and even.

In [22]:
def posi_even(n):
    return n>0 and (n&1)!=1

print(posi_even(12))

True

In [ ]:
3. Determine if the XOR of two boolean values is true.

In [23]:
def ans(x,y):
    return x^y

print(ans(True,False))

True

In [ ]:
4. Check if a list is not empty and its first element is True.

In [24]:
def first_element(a):
    return not(a and a[0]==False)
 
l=[True,False,True,False]
print(first_element(l))

True

In [ ]:
5. Verify if the integer part of a float is odd.

In [25]:
def odd(a):
    return int(a)%2==1
 
print(odd(11.9))

True

In [ ]:
6. Determine if at least one of three variables, a, b, c, is True.

In [26]:
def variable(a,b,c):
    return (a or b or c)==True

print(variable(True,False,True))

True

In [ ]:
7. Check if a string s is non-empty and its first character is uppercase.

In [27]:
s = "Hello world" 
if bool(s) and s[0].isupper():
    result = True
else:
    result = False

result

True

In [ ]:
8. Determine if the binary representations of two numbers are complementary.

In [ ]:
9. Check if a number n is neither divisible by 2 nor 3.

In [28]:
def ans(n):
    return n%2!=0 and n%3!=0

print(ans(7))

True

In [ ]:
10. Determine if the length of a string s is both greater than 5 and a prime number.

In [29]:
def greater_or_prime(n):
    if(n>5):
        for i in range(2, n):
            if(n%i==0):
                return False
        return True     
    else:
        return False

s="Hello World"
print(greater_or_prime(len(s)))

True

In [ ]:
11. Evaluate if at least two out of three booleans a, b, c are True.

In [30]:
def variable(a,b,c):
    return (a + b + c) >= 2

print(variable(True,False,True))

True

In [ ]:
12. Check if a string s is neither empty nor consists solely of whitespace characters.

In [ ]:
13. Given three integers, check if they can form the sides of a right-angled triangle.

In [31]:
def can_form_right_triangle(a, b, c):
    return a**2 + b**2 == c**2

print(can_form_right_triangle(4, 4, 5))

False

In [ ]:
14. Use a boolean expression to find if a number is in the range [5, 10] inclusive.

In [32]:
n = 12
ans = 5 <= n <= 10
ans

False

In [ ]:
15. Return the boolean True if a string is both alphabetic and uppercase.

In [33]:
def is_alpha_or_upper(s):
    return s.isalpha() and s.isupper()

print(is_alpha_or_upper("HELLO"))

True

In [ ]:
16. Determine if an integer is a power of 2 using a boolean expression.

In [34]:
def ans(n):
    return n!=0 and (n &(n-1))==0

print(ans(16))

True

In [ ]:
17.  Check if exactly one of two boolean values is True, without using the != operator.

In [35]:
def ans(x,y):
    return x^y

print(ans(True,False))

True

In [ ]:
18. Return 'Yes' if a number is positive, otherwise 'No', in one line.

In [36]:
n=-12
ans='Yes' if n > 0 else 'No'
ans

'No'

In [ ]:
19.  Check if a list is empty without using len().

In [37]:
def isempty(l):
    return not bool(l)

print(isempty([1,2]))

False

In [ ]:
20. Determine if the sum of two numbers is even without using the % operator.

In [38]:
def sum(x,y):
    s=x+y
    return (s&1)!=1

print(sum(12,90))

True

In [ ]:
Practice problems on string manipulation.

Problems on string operations, including slicing, searching, and transformation techniques.

In [ ]:
1. Reverse the string "hello world" without using the [::-1] syntax.

In [39]:
"".join(reversed("hello world"))

'dlrow olleh'

In [ ]:
2. Check if the string "radar" is a palindrome.

In [40]:
def palindrome(s):
    s1="".join(reversed(s))
    return s1==s
print(palindrome("radar"))

True

In [ ]:
3. Capitalize the first letter of each word in the string "hello world"

In [41]:
s="hello world"
ans=s.title()
ans

'Hello World'

In [ ]:
4. Find the first non-repeated character in the string "abacddbec".

In [ ]:
5. Convert the string "123" to an integer without using built-in conversion functions.

In [42]:
s = "123"
result = 0
for char in s:
    result = result * 10 + (ord(char) - ord('0'))
result

123

In [ ]:
6. Create a function that checks if a string is an anagram of another string.

In [43]:
def anagram(a,b):
    return ''.join(sorted(a))==''.join(sorted(b))

print(anagram("litsen","silent"))

True

In [ ]:
7. Remove vowels from the string "beautiful day".

In [44]:
s = "beautiful day"
vowels = "aeiouAEIOU"
result = ""

for char in s:
    if char not in vowels:
        result += char

print(result)

btfl dy

In [ ]:
8. Find the longest word in the string "hello world programming" and return its length.

In [45]:
s= "hello world programming"
words=s.split()
longest=0
for word in words: 
    if(len(word)>longest):
        longest=len(word)
longest

11

In [ ]:
9. Convert the string "hello_world" into CamelCase ("HelloWorld").

In [ ]:
10. Encode the string "hello" by shifting each letter by 2 positions in the alphabet ("jgnnq").

In [ ]:
11. Reverse the words in the sentence "Python is great" so the sentence becomes "great is Python"

In [46]:
s="Python is great"
new=' '.join(s.split()[::-1])
new

'great is Python'

In [ ]:
12. Check if the string "radar" is a palindrome.

In [47]:
def palindrome(s):
    s1="".join(reversed(s))
    return s1==s
print(palindrome("radar"))

True

In [ ]:
13. Count the number of vowels in "Hello World"

In [48]:
s="Hello World"
v="aeiouAEIOU"
c=0
for i in s:
    if i in v:
        c=c+1

c

3

In [ ]:
14. Capitalize the first letter of each word in "hello world"

In [49]:
s="hello world"
ans=s.title()
ans

'Hello World'

In [ ]:
15. Convert the string "100" to an integer without using built-in conversions.

In [50]:
a="100"
result = 0
for char in a:
    result = result * 10 + (ord(char) - ord('0'))
result

100

In [ ]:
16. Find the longest word in the string "Python is simple and effective" and print it.

In [51]:
s= "Python is simple and effective"
words=s.split()
longest=""
for word in words: 
    if(len(word)>len(longest)):
        longest=word
longest

'effective'

In [ ]:
17. Replace every third character in "abcdefghijk" with an asterisk (*).

In [ ]:
18. Check if all characters in the string "abc123" are alphanumeric.

In [52]:
r = "abc123"
ans = r.isalnum()
ans

True

In [ ]:
19. Create a string from the characters at even indices of "abcdefghi".

In [53]:
a = "abcdefghi"
even_index = a[::2]
even_index

'acegi'

In [ ]:
20. Encode "hello" by adding 1 to the ASCII value of each character.

In [ ]:
Practice problems on type casting. 

Problems for practice of converting between different data types, such as integers, floats, strings, and lists.

In [ ]:
1. Convert the list of strings ["1", "2", "3"] into a list of integers.

In [2]:
import numpy as np
l1=["1", "2", "3"]
l2=np.array(l1,dtype=int)
l3=list(l2)
l3

[1, 2, 3]

In [ ]:
2. Given a float 123.456, create a string "123_456" where the decimal point is replaced with an underscore.

In [ ]:
s = 123.456
ans = str(s).replace('.', '_')
print(ans)

In [ ]:
3. Turn the tuple (1, 2, 3) into a string "123".

In [8]:
num_tuple = (1, 2, 3)
result_string = ''.join(map(str, num_tuple))
result_string

'123'

In [ ]:
4. Convert "1010" (binary string) to an integer assuming it's a binary number.

In [9]:
a = "1010"
ans = int(a, 2)
ans

10

In [ ]:
5. Create a float from the string "123.456" and then round it to 2 decimal places.

In [10]:
ab = float("123.456")

ans= round(ab, 2)
ans

123.46

In [ ]:
6. Convert a single-character string 'a' to its corresponding ASCII value.

In [12]:
print(ord('a'))

97

In [ ]:
7. Given an integer 65, convert it to a string that represents its ASCII character.

In [14]:
print(chr(65))

A

In [ ]:
8. Change a hexadecimal string '0x1a' to an integer.

In [15]:
ans=int('0x1a', 16)
ans

26

In [ ]:
9. Given the list [1, 2, 3], create a string representation of the list, then convert it back to a list without using eval().

In [ ]:
10. Convert the string representation of a complex number "1+2j" to a complex number object.

In [16]:
a=complex("1+2j")
a

(1+2j)

In [ ]:
11. Convert the string "123.456" to an integer.

In [19]:
a = float("123.456")
b = int(a)
b

123

In [ ]:
12. Given a float 123.456, create a string formatted as "123_456" where the decimal point is replaced by an underscore.

In [20]:
s = 123.456
ans = str(s).replace('.', '_')
print(ans)

123_456

In [ ]:
13. Convert "True" and "False" strings to their boolean counterparts without using if-else.

In [ ]:
14. Given the list [1, 2, '3', '4'], convert all elements to integers.

In [21]:
a = [1, 2, '3', '4']
converted_list = [int(element) for element in a]
print(converted_list)

[1, 2, 3, 4]

In [ ]:
15. Safely convert "123abc" to an integer without raising an error.

In [54]:
a=int("123abc")
a

ValueError: invalid literal for int() with base 10: '123abc'

In [ ]:
16. Convert the hexadecimal string "1a" to an integer and then to a binary string.

In [ ]:
17. Given a boolean True, convert it to an integer, then to a string, and finally to a float.

In [26]:
ans=float(str(int(True)))
ans

1.0

In [ ]:
18. Convert the tuple (1, 2, 3) to a list, then to a string, and finally back to a tuple.

In [38]:
a=tuple(eval(str(list(a))))
a

(1, 2, 3)

In [ ]:
19. Given a float 123.456, format it as a string with only one decimal place, without rounding.

In [44]:
20. Extract the integer part and the decimal part of 123.456 as separate integers.